{% extends 'blog/base.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}{{ detail.title }}{% endblock %}


{% block head %}
    <script src="{% static 'js/minifishAjax.js' %}"></script>
    {{ comment_form.media }}
{% endblock %}

{% block body_block %}


<div class="well">

    <div class="row">
        <h2 class="col-sm-11 col-sm-offset-1">{{ detail.title }}</h2>
        <div class="col-sm-7 col-sm-offset-1">
            {{ detail.author }} -- {{ detail.modified }}
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            阅<span class="badge badge-success">{{ detail.views }}</span>    赞<span class="badge badge-success" id="like_count">{{ detail.likes }}</span>
            <button id ="likes" data-catid="{{detail.id}}" class="btn btn-xs btn-success" type="button">Like</button>
        </div>
    </div>
    <hr/>
    <p>{{ detail.content|markdown }}</p>
    <hr/>
    <p>
    <ul class="list-inline">
        {% for tag in tags %}
        <li><i class="glyphicon glyphicon-tag"></i><a href="{% url 'tag_filter' tag.id %}">{{tag}}</a></li>
        {% endfor %}
    </ul>
    <hr/>
    <ul class="pager">
        {% if previous_id %}
            <li class="previous"><a href="../{{detail.id|add:'1'}}">上一篇: {{ previous_id.title }}</a></li>
        {% else %}
            <li class="previous"><a href="#">无上篇</a></li>
        {% endif %}

        {% if next_id %}
            <li class="next"><a href="../{{detail.id|add:'-1'}}">下一篇: {{ next_id.title }}</a></li>
        {% else %}
            <li class="next"><a href="#">无下篇</a></li>
        {% endif %}
    </ul>
    <div>
        <strong><span class="badge badge-success">{{comments_count}}</span> Comments</strong>
    </div>
</div>

<div class="box">
{% for comt in comments_all %}

    <p><b>{{ comt.name }}</b>   <span>{{ comt.commentstime }}   {{ comt.email }}   {{ comt.website }}</span></p>
    <p>{{ comt.comments|markdown }}</p>
<hr/>
{% endfor %}

    <form class="form-signin" id="comment_form" method="post" action="">
        {% csrf_token %}
        {% for field in anybody_form.visible_fields %}
            {{ field.errors }}
            <strong>{{ field.label }}</strong>     <small>{{field.help_text}}</small><br/>
            {{ field }}<br />
        {% endfor %}
        {% for field in comment_form.visible_fields %}
            {{ field.errors }}
            <strong>{{ field.label }}</strong>     <small>{{field.help_text}}</small><br/>
            {{ field }}<br />
        {% endfor %}
    <button class="btn btn-primary" type="submit" name="submit" />提交</button></p>
    </form>
</div>


{% endblock %}