{% extends 'blog/base.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}主题{% endblock %}

{% block head %}
{% endblock %}

{% block body_block %}

    {% for topic in topics.object_list %}
  <div class="row-fluid box">
    <div class="col-sm-12">
      <h2><a href="{{topic.id}}">{{ topic.title }}</a></h2>
    </div>

    <div class="col-sm-12">
      <i class="glyphicon glyphicon-time"></i> {{ topic.modified|date:"H:i Y-m-d" }}
    </div>
    <div class="col-sm-12">
      <hr/>
    </div>
    <div class="col-sm-12">
       {{ topic.content|slice:":256"|markdown }}
      <hr/>
      <p class="text-right"><a href="{{topic.id}}">更多...</a>
         <span class="badge badge-success">阅 {{ topic.views }}</span>    <span class="badge badge-success">赞 <b id="like_count">{{ topic.likes }}</b></span>
      </p>

    </div>
  </div><br/>
    {% endfor %}


<div class="text-center text-danger">
  <ul class="pagination">

    {# topics.paginator.page_range  这个函数返回包含一个所有页码数的  range  对象  #}
    {#  即  range(1, topics.paginator.num_pages + 1) #}
    {% for page_number in topics.paginator.page_range %}
      {% ifequal page_number  topics.number %}
        <li class="disabled"><a href="#">{{ page_number }}</a></li>
      {% else %}
        <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
      {% endifequal %}
    {% endfor %}

  </ul>
</div>
{% endblock %}