{% extends 'blog/base.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}{{ detail.title }}{% endblock %}


{% block head %}
    <script src="{% static 'js/minifishAjax.js' %}"></script>
    {{ comment_form.media }}

    <script>

        function bindPostCommentHandler() {
            // 获得 comment_form 表单
            $('#comment_form').submit(function() {
                $.ajax({
                    type: "POST",
                    data: $('#comment_form').serialize(),
                    url: "{% url 'comment_show' tid %}",
                    cache: false,
                    dataType: "html",
                    success: function(html, textStatus) {
                        $('#cmt').replaceWith(html);
                        $('#comment_form')[0].reset();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#comment_form')[0].reset()
                        $('#comment_errors').replaceWith('<div class="alert alert-danger" role="alert">您的评论暂时无法提交, 请检查相关字段是否填写正确.</div>');
                    }
                });
                return false;
            });
        };

        function replyPostHandler(cmt_id){
            $('#post_reply_form'+cmt_id).submit(function(){
                $.ajax({
                    type:'POST',
                    // data:{ the_post : $('#post-text').val() },
                    data : $('#post-text').serialize(),
                    url:"../../reply_to_comt/"+cmt_id+"/",
                    cache: false,
                    dataType: "html",
                    success: function(html, textStatus){
                        $("#talk-"+cmt_id).replaceWith('<p id="talk-{{ reply_id }}"> <strong>{{ reply_text }}</strong> - <em>{{ reply_user }}</em> - <span>{{ reply_time }}</span> - <a id="delete-post-{{ reply_pk }}">delete me</a></p>');
                        $('#post_reply_form'+cmt_id)[0].reset();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        $("#talk-"+cmt_id).replaceWith('<div class="alert alert-danger" role="alert">您的评论暂时无法提交, 请检查相关字段是否填写正确.</div>');
                    }
                });
                return false;
            });
        };


        function replyHandler(cmt_id){
            $("#id_comments_"+cmt_id).hide();
            $("#post_reply_"+cmt_id).html('<div class="form-group"><textarea class="form-control" rows="1" id="post-text" name="text" placeholder="Say something..." required="True" type="text" ></textarea></div><div id="results"></div><input type="submit" name="submit2" value="发表" class="btn btn-primary btn-xs" onclick="replyPostHandler('+cmt_id+');">');
        };

    </script>
{% endblock %}

{% block body_block %}


<div class="row-fluid box">
    <div class="col-sm-12">
        <h2>{{ detail.title }}
        <span id="showlike">
            {% if likes %}
                <button class="btn btn-xs btn-success" type="button" disabled="disabled">已赞</button>
            {% else %}
                <button id ="likes" data-catid="{{detail.id}}" class="btn btn-xs btn-success" type="button">赞</button>
            {% endif %}
        </span>
        </h2>

    </div>

    <div class="col-sm-8">
        <strong><i class="glyphicon glyphicon-user"></i> {{ detail.author }}</strong>
        <i class="glyphicon glyphicon-time"></i> {{ detail.modified|date:"H:i Y-m-d" }}
    </div>
    <div class="col-sm-4 text-right">
        <span class="badge badge-success">阅 {{ detail.views }}</span>    <span class="badge badge-success">赞 <b id="like_count">{{ detail.likes }}</b></span>

    </div>

    <div class="col-sm-12">
        <hr/>
    </div>

    <div class="col-sm-12">
        {{ detail.content|markdown }}
    </div>

    <div class="col-sm-12">
        <hr/>
    </div>

    <div class="col-sm-12">
        <ul class="list-inline">
            {% for tag in tags %}
            <li><i class="glyphicon glyphicon-tag"></i><a href="{% url 'tag_filter' tag.id %}">{{tag}}</a></li>
            {% endfor %}
        </ul>

    <ul class="pager">
        {% if previous_id %}
            <li class="previous"><a href="../{{detail.id|add:'1'}}">上一篇: {{ previous_id.title }}</a></li>
        {% else %}
            <li class="previous"><a href="#">无上篇</a></li>
        {% endif %}

        {% if next_id %}
            <li class="next"><a href="../{{detail.id|add:'-1'}}">下一篇: {{ next_id.title }}</a></li>
        {% else %}
            <li class="next"><a href="#">无下篇</a></li>
        {% endif %}
    </ul>
    </div>
</div>
<br/>

<div class="box">
<div id="cmt">
    <div>
        <strong><h3>{{comments_count}} Comments</h3></strong>
        <hr/>
    </div>
    {% for comt in comments_all %}
    <div class="row-fluid">
        <div class="col-sm-11">
        <strong><i class="glyphicon glyphicon-user"></i> {{ comt.name }}</strong>
         {{  forloop.counter }}楼
        <span>
            <i class="glyphicon glyphicon-time" title="{{ comt.commentstime|date:"H:i Y-m-d" }}"></i> {{ comt.commentstime|date:"H:i Y-m-d" }}
            <a href="mailto:{{ comt.email }}" title="{{ comt.email }}"><i class="glyphicon glyphicon-envelope"></i></a>
            <a href="{{ comt.website }}" title="{{ comt.website }}"><i class="glyphicon glyphicon-home"></i></a>
        </span>
        </div>
        <div class="col-sm-1">
            {% if user.is_authenticated %}
                <a href="{% url 'del_comment' comt.id %}" title="delete"><i class="glyphicon glyphicon-trash"></i></a>
            {% endif %}
        </div>

    <div class="col-sm-12">
        <p>{{ comt.comments|markdown }}</p>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-11 col-sm-offset-1">
            <div >
                {% for r in comt.reply %}
                    <p>
                        <strong>{{ r.replyuser.anyname }} </strong><span><i class="glyphicon glyphicon-time" title="{{ r.createtime|date:"H:i Y-m-d" }}" ></i></span><em> {{ r.replytext }}</em>

                        {% if user.is_authenticated %}
                            <a href="{% url 'del_reply' r.pk %}" id='{{ r.pk }}'><i class="glyphicon glyphicon-trash"></i></a>
                        {% endif %}
                    </p>
                {% endfor %}

                <p id="talk-{{ comt.id }}">
                    <!-- Reply Form Ajax -->
                </p>
            </div>
            {% if reply_email or user.is_authenticated%}
                <form role="form" name="form2" method="post" id="post_reply_form_{{comt.id}}" action="{% url 'reply_to_comt' comt.id %}">
                {% csrf_token %}
                <input type='hidden' name='reply' value="{% url 'reply_to_comt' comt.id %}"/>
                <p class="text-right" id="post_reply_{{ comt.id }}">
                    <button id="#id_comments_{{ comt.id }}" class="btn btn-default btn-xs" type="button" onclick="replyHandler('{{ comt.id }}');" >回复<i class="glyphicon glyphicon-comment"></i></button>
                </p>
                </form>
            {% endif %}
        </div>
        <hr />
    </div>
    </div><!-- row-fluid -->
    {% endfor %}
</div><!-- cmt -->
</div><!-- box -->

<br/>
<div class="box">
        <form class="form-signin" name="form1" id="comment_form" method="post" action=''>
            {% csrf_token %}
            {% for field in anybody_form.visible_fields %}
                {{ field.errors }}
                <strong>{{ field.label }}</strong>     <small>{{field.help_text}}</small><br/>
                {{ field }}<br />
            {% endfor %}
            {% for field in comment_form.visible_fields %}
                {{ field.errors }}
                <strong>{{ field.label }}</strong>     <small>{{field.help_text}}</small><br/>
                {{ field }}<br />
            {% endfor %}
        <input type='hidden' name='next' value="{% url 'comment_show' tid %}"/>
        <button class="btn btn-primary" type="submit" name="submit1" onclick="bindPostCommentHandler();" />提交</button></p>
        </form>

        <ul>
            <li><span>支持Markdown语法:<a href="http://wowubuntu.com/markdown/">语法说明</a></span></li>
            <li><span>请勿发布与主题无关的评论</span></li>
        </ul>
        <div id="comment_errors"></div>
</div>


{% endblock %}