{% extends 'blog/base.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}首页{% endblock %}

{% block head %}
    {{ giveout_form.media }}
    <script>
        $(function() {
            $("textarea").addClass(" form-control");
        });
    </script>
{% endblock %}

{% block body_block %}

<div class="span12 well">

        <h2>发布文章</h2><hr/>
        {% autoescape off %}
        <form class="form-signin" id="giveout_form" method="post" action=""  enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden in giveout_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <p class="col-sm-offset-11"><button class="btn btn-primary" type="submit" name="submit" />提交</button></p>

            {% for field in tags_form.visible_fields %}
                {{ field.errors }}
                <strong>{{ field.label }}</strong>     <small>{{field.help_text}}</small><br/>
                {{ field }}<br />
            {% endfor %}

            {% for field in giveout_form.visible_fields %}
                {{ field.errors }}
                <strong>{{ field.label }}</strong>     <small>{{field.help_text}}</small><br/>
                {{ field }}<br/>
            {% endfor %}


        </form>
        {% endautoescape %}

</div>

{% endblock %}